@font-face {
    font-family: Ohno Blazeface;
    src: url(fonts/OhnoBlazeface-72PointItalic.ttf);
}
@font-face {
    font-family: Recoleta;
    src: url(fonts/Recoleta-Black.ttf);
}
@font-face {
    font-family: Inter;
    src: url(fonts/Inter.ttf);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-size: 1em;
    background-color: #dcd7d4;
    font-family: 'Inter', sans-serif;
    
}
#homepage {
    overflow: hidden;
}
header {
    z-index: -1;
    padding: 30px 0 0.5px;
}
.header {
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Ohno Blazeface', sans-serif;
    color: #000;
    font-size: 2.5em;
    overflow: hidden;
    background: linear-gradient(to right, blue, blue 50%, #000 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.75s ease;
}
.header:hover {
    background-position: 0 100%;
}

.slider {
    left: 0;
    position: fixed;
    height: 100%;
    width: 60%;
    color: #dcd7d4;
    z-index: 1000;
    border-right: 0.5px solid #000;
}
.title {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    writing-mode: vertical-lr;
    align-items: flex-end;
    padding: 7rem 0.35rem 0 0;
    transform: rotate(180deg);
}
.welcome {
    display: flex;
    margin: 0;
    font-family: 'Ohno Blazeface', serif;
    font-size: 6.5em;
    color: black;
    line-height: 1.1;
}
.menu {
    right: 0;
    position: absolute;
    height: 100%;
    width: 40%;
}
.menu div {
    padding: 2rem 0 0 2em;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.menu_item {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 1.1;
    padding: 4px 0 6px;
}
.menu_item:hover {
    color: blue;
}

.article-container {
    width: 100%;
    margin: 10vh 0 0 0;
    display: grid;
    grid-template-columns: 1fr 25% 55% 1fr;
    grid-template-rows: 1;
}
.article-sidebar {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 20px;
}
.article-sidebar h5 {
    font-size: 18px;
    margin-bottom: 12px;
}
.sidebar-item {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 1.1;
    padding: 4px 0 6px;
}
.article-sideitems {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sidebar-item:hover {
    color: blue;
}
.active {
    color: blue;
}
.article-main {
    grid-area: 1 / 3 / 2 / 4;
}
.article-title {
    font-size: 4em;
    line-height: 1.1;
    margin: 0 auto 24px;
    font-family: 'Ohno Blazeface', serif;
}
.article-main h3 {
    font-size: 24px;
    line-height: 1.1;
    margin-top: 1.5rem;
    margin-bottom: 0;
}
.article-main h3 a {
    text-decoration: none;
    color: #000;
}
.article-main h3 a:hover {
    color: blue;
}
.article-main h3 span {
    color: rgb(87, 87, 87);
    font-weight: 100;
    font-size: 14px;
}
.article-main p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 0.6rem;
    margin-bottom: 1.096rem;
}
.article-main p a {
    text-decoration: none;
    color: blue;
}
.p5Canvas {
    z-index: 10000;
}
picture {
    width: 100%;
    height: auto;
}
.examples {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.examples img {
    width: 50%;
}

@media (max-width: 768px){ 
    .slider {
        width: 35%; 
    }
    .welcome {
        font-size: 5em;
    }
    .menu {
        width: 65%;
    }
    .menu div {
        padding-left: 0;
    }

    #main-container {
        width: 85%;
        margin: 1.5rem auto;
    }

    .article-container {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .article-sidebar {
        display: inline-block;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .article-sideitems {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        /* grid-auto-flow: column; */
    }
    .sidebar-item {
        display: flex;
        flex-direction: column;
    }
    
  }