@font-face {
    font-family: Public Pizel;
    src: url(fonts/PublicPixel-z84yD.ttf);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-size: 1em;
}

/* welcome page */
#homepage {
    background-color: #333333;
    overflow: hidden;
}
.computer-screen {
    width: 100%;
    height: 100%;
    background-image: url(../img/opening-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.tv-noise {
    background: url(../img/blurry-screen.jpg);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 51%;
    transform: translate(-49%, -50%);
    animation: animate .5s steps(10) infinite;
}
.tv-noise img {
    width: 190%;
    visibility: hidden;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.enter-button{
    border: 0;
    line-height: 2;
    padding: 0 20px;
    font-size: 40px;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ff66ff;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 46.5%;
    left: 51.635%;
    transform: translate(-49.365%, -54.5%);
}
/* main blog page */
main {
    height: 100%;
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: 1fr;
}
nav {
    padding: 6px;
    grid-area: 1 / 1 / 1 / 2;
    background-color: #9FBCFF;
}
nav img {
    width: 120px;
}
nav h2 {
    margin: 0;
}
nav h2 a {
    color: red;
    display: inline-block;
}
.color2 {
   color: blue; 
}
nav p {
    margin-top: 0;
}
article {
    padding-left: 40px;
    display: block;
}
.post {
    display: block;
}
.post span {
    color: grey;
    font-style: italic;
}
.feedback {
    width: 600px;
    text-align: right;
}

/* user page */
#user-page {
    margin: 8px;
}
.users {
    margin-left: 23px;
}
.user {
    width: 660px;
    display: flex;
    justify-content: space-between;
}
hr {
    width: 660px;
    float: left;
}